<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Category Created</title>
    <link
      rel="shortcut icon"
      href="/asset-admin/img/svg/logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/asset-admin/css/style.css" />
  </head>

  <body>
    <div class="overlay"></div>

    <div class="page-flex">
      <!-- Sidebar -->
      <%- include('./sidebar-admin')%>
      <div class="main-wrapper">
        <!-- Header -->
        <header><%- include('./header-admin')%></header>

        <!-- Main Content -->
        <div class="form-container">
          <div class="create-success">
            <h2>Category Created Successfully!</h2>
          <p>Do you want to create another category?</p>
          <div class="buttons">
            <a href="/admin/manage-category/create">
              <button class="yes-btn">Yes, Create Another</button>
            </a>
            <a href="/admin/manage-category">
              <button class="no-btn">No, Go to Manage Categories</button>
            </a>
          </div>
          </div>
        </div>

        <!-- Footer -->
        <footer class="footer"><%- include('./footer-admin')%></footer>
      </div>
    </div>
    
    <script src="/asset-admin/js/script.js"></script>
  </body>
</html>
