<!DOCTYPE html>
<html lang="en">
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <title>Sidebar blog</title>
       <meta name="keywords" content="">
       <meta name="description" content="">
       <meta name="author" content="">
       <link rel="shortcut icon" href="/asset-blog/images/favicon.ico" type="image/x-icon" />
       <link rel="apple-touch-icon" href="/asset-blog/images/apple-touch-icon.png">
       <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet"> 
       <link href="/asset-blog/css/bootstrap.css" rel="stylesheet">
       <link href="/asset-blog/css/font-awesome.min.css" rel="stylesheet">
       <link href="/asset-blog/style.css" rel="stylesheet">
       <link href="/asset-blog/css/responsive.css" rel="stylesheet">
       <link href="/asset-blog/css/colors.css" rel="stylesheet">
       <link href="/asset-blog/css/version/garden.css" rel="stylesheet">
</head>
<body>
    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
        <div class="sidebar">
            <div class="widget">
                <h2 class="widget-title">Search</h2>
                <form class="form-inline search-form">
                    <div class="form-group">
                        <input id="searchInputHome" type="text" class="form-control" placeholder="Search on the site">
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </form>
            </div>
    
            <div class="widget">
                <h2 class="widget-title">Advertising</h2>
                <div class="banner-spot clearfix">
                    <div class="banner-img">
                        <img src="/asset-blog/images/nenblog.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>

            <div class="widget">
                <h2 class="widget-title">Popular Categories</h2>
                <div class="link-widget">
                    <ul class="list-category">
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    document.addEventListener("DOMContentLoaded", function() {
            getPopularCategoryData();
        });

    // Lấy danh mục và tổng số bài viết
    const getPopularCategoryData = async () => {
    try {
        const categoryApi = "http://localhost:8000/v1/category";
        const response = await fetch(categoryApi);
        const categories = await response.json();

        // Lấy bài viết từng category
        const categoryCounts = await Promise.all(
            categories.map(async (category) => {
                const countApi = `http://localhost:8000/v1/post-count/${category._id}`; // API lấy số bài viết theo category
                const countResponse = await fetch(countApi);
                const countData = await countResponse.json();
                return { ...category, count: countData.count || 0 };
            })
        );

        const html = categoryCounts
            .map(
                (item) => `
                <li>
                    <a id="${item._id}" href="#">${item.name} <span class="posts-of-category">(${item.count})</span></a>
                </li>
            `
            )
            .join("");

        document.querySelector(".list-category").innerHTML = html;
    } catch (error) {
        console.error("Error fetching category data:", error);
    }
};

    // const handleSearchPost = () => {
    //       const searchInput = document.getElementById("searchInputHome");
    //       searchInput.addEventListener("change", async (e) => {
    //         const search = e.target.value;
    //         if(search == '') {
    //           getPostListDataAdmin();
    //         }
    //         const postApi = `http://localhost:8000/v1/posts/search/?search=${search}`;
    //         const response = await fetch(postApi);
    //         const data = await response.json();

    //         let image = data[0].image
    //               ? data[0].image.replace("assets\\", "\\")
    //               : "";
    //         let categoryName = "Unknown Category";
    //         if (!data[0].category) {
    //           console.warn(`Post with ID ${data[0]._id} has no category.`);
    //           return "Unknown Category";
    //         } else{
    //           categoryName = await getCategoryById(data[0].category);
    //         }

    //         let html = `
    //               <div class="blog-box row">
    //                             <div class="col-md-4">
    //                                 <div class="post-media">
    //                                     <a href="post/${data[0].id}" title="">
    //                                         <img src="${image}" alt="" class="img-fluid">
    //                                         <div class="hovereffect"></div>
    //                                     </a>
    //                                 </div>
    //                             </div>

    //                             <div class="blog-meta big-meta col-md-8">
    //                                 <span class="bg-aqua"><a href="post/${data[0]._id}" title="">${data[0].title}</a></span>
    //                                 <h4><a href="post/${data[0]._id}" title="">${data[0].title}</a></h4>
    //                                 <p>${shortContent}</p>
    //                                 <small><a href="#" title=""><i class="fa fa-eye"></i> 1887</a></small>
    //                                 <small><a href="post/${data[0]._id}" title="">${createdAt}</a></small>
    //                             </div>
    //                         </div>
    //                         <hr class="invis">
    //         `
    //         document.querySelector("#list-post-admin").innerHTML = html;
    //        })
    //     }
    
</script>
</html>