<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Đây là trang Account</h1>

    <ul>
        <% if (data && data.length > 0) { %>
            <% data.forEach(post => { %>
                <li>{%= post.name%}</li>
            <% }) %>
        <% } else { %>
            <p>No posts found.</p>
        <% } %>.
    </ul>


</body>
</html>