<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categories</title>
    <link
      rel="shortcut icon"
      href="/asset-admin/img/svg/logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/asset-admin/css/style.css" />
  </head>

  <body>
    <div class="layer"></div>
    <!-- ! Body -->
    <a class="skip-link sr-only" href="#skip-target">Skip to content</a>
    <div class="page-flex">
      <!-- ! Sidebar -->
      <%- include('./partials/sidebar-admin')%>
      <div class="main-wrapper">
        <!-- ! Header -->
        <header>
          <%- include('./partials/header-admin')%>
        </header>
        <!-- ! Main -->
        <div>
          <h2 class="main-title">Post Category</h2>
          <a href="/admin/manage-category/create">
            <button class="create-btn">New Category</button>
          </a>
          
          <div class="users-table table-wrapper">
            <table class="posts-table">
              <thead>
                <tr class="users-table-info">
                  <th>
                    <label class="users-table__checkbox ms-20">
                      <!-- <input type="checkbox" class="check-all" /> -->
                    </label>
                  </th>
                  <th>Title</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="list-category-admin">
                
              </tbody>
            </table>
          </div>
        </div>
        <!-- ! Footer -->
        <footer class="footer">
          <%- include('./partials/footer-admin')%>
        </footer>
      </div>
    </div>
    <!-- Chart library -->
    <script src="/asset-admin/plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="/asset-admin/plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="/asset-admin/js/script.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
          getPopularCategoryDataAdmin();
      });
  
      const getPopularCategoryDataAdmin = async () => {
          try {
              const postApi = "http://localhost:8000/v1/category";

              const response = await fetch(postApi);
              const posts = await response.json();

              const htmlCategoryAdmin = posts.map(
                  (item) => `
                      <tr>
                          <td>
                              <label class="users-table__checkbox">
                              <input type="checkbox" class="check" />
                              </label>
                          </td>
                          <td>${item.name}</td>
                          <td>${item.createdAt}</td>
                          <td>
                              <span class="p-relative">
                              <button
                                  class="dropdown-btn transparent-btn"
                                  type="button"
                                  title="More info"
                              >
                                  <div class="sr-only">More info</div>
                                  <i
                                  data-feather="more-horizontal"
                                  aria-hidden="true"
                                  ></i>
                              </button>
                              <ul class="users-item-dropdown dropdown">
                                  <li><a href="##">Edit</a></li>
                                  <li><a href="##">Delete</a></li>
                              </ul>
                              </span>
                          </td>
                      </tr>
                  `
              ).join("");
              document.querySelector("#list-category-admin").innerHTML += htmlCategoryAdmin;

              // feather.replace();
          } catch (error) {
              console.error("Error fetching category data:", error);
          }
      }  
    </script>

  </body>
</html>
