<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
    <link
      rel="shortcut icon"
      href="/asset-admin/img/svg/logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/asset-admin/css/style.css" />
  </head>

  <body>
    <div class="layer"></div>
    <!-- ! Body -->
    <a class="skip-link sr-only" href="#skip-target">Skip to content</a>
    <div class="page-flex">
      <!-- ! Sidebar -->
      <%- include('./partials/sidebar-admin')%>
      <div class="main-wrapper">
        <!-- ! Header -->
        <header><%- include('./partials/header-admin')%></header>
        <!-- ! Main -->
        <div class="container">
          <h2 class="main-title">Blog Posts</h2>
          <div class="d-flex justify-content-between">
            <a href="/admin/manage-post/create">
              <button class="button-btn">New Post</button>
            </a>
          </div>
          <div class="users-table table-wrapper">
            <input
              id="searchInput"
              type="text"
              placeholder="Search anything..."
            />

            <table class="posts-table">
              <thead>
                <tr class="users-table-info">
                  <th>Thumbnail</th>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Date</th>
                  <th>Comments</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="list-post-admin">
                <!-- Render các post-item -->
              </tbody>
            </table>
          </div>

          <div class="table-wrapper">
            <ul class="pagination justify-content-start">
              
            </ul>
          </div>
          <!-- end row -->
        </div>
        <!-- ! Footer -->
        <footer class="footer"><%- include('./partials/footer-admin')%></footer>
      </div>
    </div>
    <script src="/asset-admin/plugins/chart.min.js"></script>
    <script src="/asset-admin/plugins/feather.min.js"></script>
    <script src="/asset-admin/js/script.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        getPostListDataAdmin();
        getCategoryById();
        handleSearchPost();
      });

      // Seach post
      const handleSearchPost = () => {
        const searchInput = document.getElementById("searchInput");

        searchInput.addEventListener("keyup", async (e) => {
          const search = e.target.value;

          if (search.trim() === "") {
            getPostListDataAdmin();
            return;
          }

          const postApi = `http://localhost:8000/v1/posts/search?search=${search}`;
          try {
            const response = await fetch(postApi);
            const data = await response.json();

            if (response.ok) {
              renderPosts(data);
            }
          } catch (error) {
            console.error("Error fetching search results:", error);
          }
        });
      };

      //Render post từ search
      const renderPosts = (posts) => {
        const postList = document.getElementById("list-post-admin");

        let html = "";
        
        posts.forEach((post) => {
          const createdAt = new Date(post.createdAt).toLocaleDateString();
          let image = post.image ? post.image.replace("assets\\", "\\") : "";

          let categoryName = "Unknown Category";
              if (!post.category) {
                console.warn(`Post with ID ${post._id} has no category.`);
                return "Unknown Category";
              } else {
                categoryName = getCategoryById(post.category);
              }


          html += `
              <tr id="trow_${post._id}">
                <td>
                  <label class="users-table__checkbox">
                    <div class="categories-table-img">
                      <picture>
                        <a href="http://localhost:8000/post/${post._id}">
                          <img src="${image}" alt="category" />
                        </a>
                      </picture>
                    </div>
                  </label>
                </td>
                <td>${post.title}</td>
                <td id="category-name-${post._id}">${
                  categoryName || "Unknown Category"
                  }</td>
                <td>${createdAt}</td>
                <td>
                  <a href="/post/update/${post._id}" id="edit" data-id="${post._id}">
                    <button class="btn btn-edit">Edit</button>
                  </a> | 
                  <a href="" id="delete" data-id="${post._id}">
                    <button class="btn btn-delete">Delete</button>
                  </a>
                </td>
              </tr>
            `;
        });

        postList.innerHTML = html;
      };

      //Lấy getAll post
      const getPostListDataAdmin = async (page, limit) => {
        try {
          const postApi = `http://localhost:8000/v1/posts`;
          const response = await fetch(postApi);
          const posts = await response.json();

          // Chạy qua các postItem và lấy thông tin category
          const htmlPostAdmin = posts.map((item) => {
              const createdAt = new Date(item.createdAt).toLocaleDateString();
              let image = item.image
                ? item.image.replace("assets\\", "\\")
                : "";

              return `
                <tr id="trow_${item._id}">
                  <td>
                    <label class="users-table__checkbox">
                      <div class="categories-table-img">
                        <picture>
                          <a href="http://localhost:8000/post/${item._id}">  
                            <img
                              src="${image}"
                              alt="category"
                            />
                          </a>
                        </picture>
                      </div>
                    </label>
                  </td>
                  <td>${item.title}</td>
                  <td id="category-name-${item._id}">${item.category.name}</td>
                  <td>${createdAt}</td>
                  <td><a href="/admin/manage-post/comments" id="showComment" data-id="${item._id}"><button class="btn btn-show-comment">Show</button></a></td>
                  <td>
                    <a href="/post/update/${item._id}" id="edit" data-id="${item._id}"><button class="btn btn-edit">Edit</button></a> | 
                    <a href="" id="delete" data-id="${item._id}"><button class="btn btn-delete">Delete</button> </a>
                  </td>
                </tr>
              `;
          });

          document.querySelector("#list-post-admin").innerHTML = htmlPostAdmin;

          // Click update
          document.querySelectorAll(".btn-edit").forEach((button) => {
            button.addEventListener("click", (e) => {
              const postId = e.target.closest("a").getAttribute("data-id");
              if (postId) {
                window.location.href = `/post/update/${postId}`;
              }
            });
          });

          // Click delete
          document.querySelectorAll(".btn-delete").forEach((button) => {
            button.addEventListener("click", async (e) => {
              const postId = e.target.closest("a").getAttribute("data-id");
              if (!postId) {
                alert("Invalid post ID.");
                return;
              }
              await deletePost(postId);
            });
          });

        } catch (error) {
          console.error("Error fetching category data:", error);
        }
      };

      // Hàm lấy name category theo id
      const getCategoryById = async (categoryId) => {
        try {
          console.log("Cte", categoryId);

          if (
            !categoryId ||
            typeof categoryId !== "string" ||
            categoryId.trim() === ""
          ) {
            console.error("Invalid categoryId:", categoryId);
            return "Unknown Category1";
          }

          const postApi = `http://localhost:8000/category/${categoryId}`;
          const response = await fetch(postApi);

          // Kiểm tra API
          const text = await response.text();
          if (text.startsWith("<!DOCTYPE html>")) {
            throw new Error("API returned HTML instead of JSON");
          }

          const data = JSON.parse(text);
          if (data && data.name) {
            return data.name;
          } else {
            return "Unknown Category2";
          }
        } catch (error) {
          console.error("Error fetching category:", error);
          return "Error fetching category";
        }
      };

      //Hàm delete post
      const deletePost = async (postId) => {
        try {
          const confirmDelete = confirm(
            "Are you sure you want to delete this post?"
          );
          if (!confirmDelete) return;

          const response = await fetch(`/post/delete/${postId}`, {
            method: "DELETE",
          });

          if (response.ok) {
            document.getElementById(`trow_${postId}`).remove();
            alert("Post deleted successfully!");
          } else {
            alert("Failed to delete post.");
          }
        } catch (error) {
          console.error("Error deleting post:", error);
          alert("Error deleting post.");
        }
      };
    </script>
  </body>
</html>
