<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts</title>
    <link
      rel="shortcut icon"
      href="/asset-admin/img/svg/logo.svg"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/asset-admin/css/style.css" />
    
  </head>

  <body>
    <div class="layer"></div>
    <!-- ! Body -->
    <a class="skip-link sr-only" href="#skip-target">Skip to content</a>
    <div class="page-flex">
      <!-- ! Sidebar -->
      <%- include('./partials/sidebar-admin')%>
      <div class="main-wrapper">
        <!-- ! Header -->
        <header>
          <%- include('./partials/header-admin')%>
        </header>
        <!-- ! Main -->
        <div>
          <h2 class="main-title">Blog Posts</h2>
          <a href="/admin/manage-post/create">
            <button class="button-btn">New Post</button>
          </a>
          
          <div class="users-table table-wrapper">
            <table class="posts-table">
              <thead>
                <tr class="users-table-info">
                  <th>
                    <label class="users-table__checkbox ms-20">
                      <input type="checkbox" class="check-all" />Thumbnail
                    </label>
                  </th>
                  <th>Title</th>
                  <th>Category</th>
                  <th>Date</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="list-post-admin">
                <!-- <tr>
                  <td>
                    <label class="users-table__checkbox">
                      <input type="checkbox" class="check" />
                      <div class="categories-table-img">
                        <picture>
                          <img
                            src="/asset-admin/img/categories/01.jpg"
                            alt="category"
                          />
                      </picture>
                      </div>
                    </label>
                  </td>
                  <td>AAA</td>
                  <td><span class="badge-pending">Pending</span></td>
                  <td>11</td>
                  <td>
                   <a href="" id="edit" data-id=${item._id}><button class="btn btn-edit">Edit</button></a> | 
                   <a href="" id="delete" data-id=${item._id}><button class="btn btn-delete">Delete</button> </a>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
        <!-- ! Footer -->
        <footer class="footer">
          <%- include('./partials/footer-admin')%>
        </footer>
      </div>
    </div>
    <!-- Chart library -->
    <script src="/asset-admin/plugins/chart.min.js"></script>
    <!-- Icons library -->
    <script src="/asset-admin/plugins/feather.min.js"></script>
    <!-- Custom scripts -->
    <script src="/asset-admin/js/script.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function() {
          getPopularPostDataAdmin();
      });


    
      const getPopularPostDataAdmin = async () => {
          try {
              const postApi = "http://localhost:8000/v1/post/all";

              const response = await fetch(postApi);
              const posts = await response.json();

              const htmlPostAdmin = posts.map(
                  (item) => `
                      <tr id=trow_${item._id}>
                        <td>
                          <label class="users-table__checkbox">
                            <input type="checkbox" class="check" />
                            <div class="categories-table-img">
                              <picture>
                                <img
                                  src="/asset-admin/img/categories/01.jpg"
                                  alt="category"
                                />
                            </picture>
                            </div>
                          </label>
                        </td>
                        <td>${item.title}</td>
                        <td><span class="badge-pending">Pending</span></td>
                        <td>${item.createdAt}</td>
                        <td>
                            <a href="" id="edit" data-id=${item._id}><button class="btn btn-edit">Edit</button></a> | 
                            <a href="" id="delete" data-id=${item._id}><button class="btn btn-delete">Delete</button> </a>
                        </td>
                      </tr>
                  `
              ).join("");
              document.querySelector("#list-post-admin").innerHTML += htmlPostAdmin;

              feather.replace();
          } catch (error) {
              console.error("Error fetching category data:", error);
          }
          // const btnEdits = document.querySelector("#Edit");
          // btnEdits.addEventListener("click", () => alert(btnEdits.getAttribute('data-id')))       
      }  
    </script>

  </body>
</html>
